<!-- Footer-->
<footer class="py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h2 class="text-white">Chocolate Museum</h2>
            </div>
            <div class="col-md-6 col-lg-6">
                <p class="text-white">회사 주소: 서울특별시 서대문구 신촌로 136길 34 1층 초콜릿 뮤지엄</p>
                <p class="text-white">고객센터 전화번호: 1544-3399</p>
                <p class="text-white">Copyright &copy; Chocolate Museum 2022</p>
            </div>
        </div>
    </div>
</footer>