{% load socialaccount %}
{% load static %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Chocolate Museum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <!--여기가 너무 다름-->
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>  <!--aria-current="/"-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mall/">Item</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/mall/my_page/">My page</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/about_us/">About Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">  <!-- ml-auto-->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}   <!--all.0 과 first는 같다.-->
                            <img class="rounded-circle mr-3" src="{{user.socialaccount_set.all.0.get_avatar_url}}" width="25px">
                            {% else %}
                            <img class="rounded-circle mr-3" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" width="25px">
                            {% endif %}
                            {{ user.username }}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/accounts/logout/">LogOut</a>
                          </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="#"  data-toggle="modal" data-target="#loginModal">LogIn</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-right-to-bracket"></i> LogIn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-6">
                    <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                      href="{% provider_login_url 'google' %}">
                      <i class="fa-brands fa-google"></i> LogIn with Google
                    </a>
                    <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                      href="/accounts/login/">
                      <i class="fa-regular fa-envelope"></i> LogIn with Email
                    </a>
                  </div>
                  <div class="col-6">
                    <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                       href="/accounts/signup/">
                      <i class="fa-regular fa-envelope"></i> SignUp with Email
                    </a>
                    <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                       href="{% provider_login_url 'naver' %}">
                      <img src="{% static 'mall/images/btnG_아이콘사각.png' %}" style="width: 8%;">  LogIn with Naver
                    </a>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>